﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var category in ViewBag.Category)
{
    <tr>
        <td><p>@category.Name</p></td>        
    </tr>
}


